.techs__section {
  padding: 0 2rem;
  max-width: var(--width-default);
  margin: 3rem auto;
}

.techs__section > h2 {
  margin-bottom: 3rem;
}

.techs__section > ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

@media (min-width: 768px) {
  .techs__section > ul {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }
}

