.about__section {
  padding: 0 2rem;
  max-width: var(--width-default);
  margin: 0 auto;
}

.about__section > h2 {
  margin-bottom: 1.875rem ;
}

.about__section > p{
  line-height: 1.875rem ;
  margin-bottom: 2rem;
}

@media (min-width: 1024px) {
  .about__section {
    display: flex;
    gap: 5rem;
  }

  .about__section > h2 {
    min-width: fit-content;
  }

}
