.app__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  max-width: var(--width-default);
  margin: 1.875rem auto;
}

.app__header > nav {
  display: flex;
  flex-direction: column;
}

.header__logo {
  width: 5rem;
  align-self: center;
}

.nav__items {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin: 1.5rem 0;
}

.nav__items > li > a {
  color: var(--white-fixed);
}

.contact__btn {
  align-self: center;
}

@media (min-width: 768px) {
  .app__header > nav {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .app__header {
    margin-bottom: 3rem;
  }
}
