.card__container {
  padding: 1.8rem;
  height: 8rem;
  max-width: 100%;
  border: 1px solid var(--grey-2);
  border-radius: var(--radious-2);
  position: relative;
}

.card__container > h3 {
  margin-bottom: 1.8rem;
}

.card__container > p {
  margin-bottom: 2.3rem;
}

.git__icon {
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
}

.card__container > a {
  color: var(--brand-1);
}

@media (min-width: 768px) {
  .card__container {
    min-width: 17.625rem;
  }
}

@media (min-width: 1024px) {
  .card__container {
    min-width: 23.125rem;
  }
}